@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  font-family: 'Open Sans', sans-serif !important; }

html,
body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  position: relative; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #000; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #000; }

a,
a:hover {
  color: #FFF;
  text-decoration: none !important; }

ul {
  padding-left: 0; }

header#site {
  background: rgba(35, 94, 162, 0.9);
  padding: 10px 0;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 2000; }
  header#site .logo {
    float: left;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin-bottom: 0; }
    header#site .logo:hover {
      opacity: 0.85; }
  header#site nav {
    float: right;
    height: auto; }
    header#site nav ul {
      margin: 20px 0;
      list-style: none; }
      header#site nav ul li {
        display: inline-block;
        margin-left: 40px; }
      header#site nav ul li a {
        color: #FFF;
        text-transform: uppercase;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s; }
        header#site nav ul li a:hover {
          color: #c8ad75; }

#content-site {
  display: block;
  position: relative;
  height: inherit; }

.content-row h2, .content-row h3 {
  text-transform: uppercase;
  color: #215b9f; }
.content-row h2 {
  font-size: 24px; }
.content-row h3 {
  font-size: 21px;
  margin: 30px 0; }

.form-box input {
  border: 1px solid #CCC;
  padding: 10px; }
.form-box input,
.form-box button {
  width: 100%; }

.btn-site {
  -webkit-box-shadow: 0px 5px 0px 0px #00682b;
  -moz-box-shadow: 0px 5px 0px 0px #00682b;
  box-shadow: 0px 5px 0px 0px #00682b;
  background: #00913d;
  padding: 10px;
  border: 0;
  color: #FFF;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; }
  .btn-site:hover {
    background: #00af4a;
    color: #FFF !important; }

.btn2 {
  background: #215b9f;
  color: #FFF;
  -webkit-box-shadow: 0px 5px 0px 0px #0f3e74;
  -moz-box-shadow: 0px 5px 0px 0px #0f3e74;
  box-shadow: 0px 5px 0px 0px #0f3e74;
  margin-top: 20px;
  display: block;
  text-align: center; }
  .btn2:hover {
    background: #215b9f !important;
    color: #FFF !important;
    -webkit-box-shadow: 0px 5px 0px 0px #0f3e74;
    -moz-box-shadow: 0px 5px 0px 0px #0f3e74;
    box-shadow: 0px 5px 0px 0px #0f3e74; }

#row1 {
  background: url("../img/row1.jpg") top;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  height: 100%; }
  #row1 .container {
    display: flex;
    height: 100%; }
    #row1 .container .row {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center; }

#row2 {
  background: #FFF;
  height: 100%;
  display: flex;
  position: relative;
  /*.row {width: 100%;}*/ }
  #row2 .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }

.content-info p {
  font-size: 24px;
  color: #215b9f;
  text-transform: uppercase; }

#photos-galery {
  margin-top: 40px;
  display: block;
  position: relative; }
  #photos-galery a.fancybox {
    cursor: pointer;
    overflow: hidden; }
    #photos-galery a.fancybox:after {
      content: "";
      display: block;
      top: 0;
      left: 0;
      background: url("../img/mouse-over.png") no-repeat center rgba(0, 0, 0, 0.55);
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s; }
    #photos-galery a.fancybox:hover:after {
      opacity: 1; }
    #photos-galery a.fancybox img {
      max-width: 100%; }
  #photos-galery .swiper-container {
    overflow: inherit;
    overflow-x: hidden; }
  #photos-galery .swiper-pagination {
    position: relative;
    margin-top: 20px; }
  #photos-galery .swiper-slide img {
    max-width: 100%; }

#slider-home {
  height: 100%;
  display: block;
  position: relative; }
  #slider-home .swiper-container {
    height: 100%; }
    #slider-home .swiper-container .swiper-slide .container {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      height: 100%; }
    #slider-home .swiper-container .content-row h2 {
      line-height: 28px; }
    #slider-home .swiper-container .content-row h2, #slider-home .swiper-container .content-row p {
      color: #FFF; }

#plantas {
  height: auto;
  padding-top: 150px;
  position: relative;
  color: #215b9f; }
  #plantas h4 {
    text-transform: uppercase;
    margin-top: 20px; }
  #plantas ul {
    list-style: none;
    font-size: 16px;
    margin-bottom: 100px; }
  #plantas .btn1, #plantas .btn2 {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
    display: block;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s; }
    #plantas .btn1:hover, #plantas .btn2:hover {
      opacity: 0.9; }
  #plantas .btn1 {
    margin-top: 30px;
    background: #00913d; }
  #plantas .btn2 {
    background: #215b9f;
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
    padding: 15px 10px; }
  #plantas .swiper-container.galery-plantas {
    margin: 50px 0; }
  #plantas .galery-plantas .swiper-pagination {
    position: relative;
    margin-top: 20px; }
  #plantas .swiper-slide img {
    max-width: 100%; }

#localizacao {
  width: 100%;
  overflow: hidden; }

.map {
  width: 1920px;
  height: 1080px;
  overflow-x: hidden;
  margin: 0 auto;
  left: 50%;
  margin-left: -960px;
  position: relative;
  background: url("../img/row-map2.jpg") no-repeat center;
  /*z-index: 500;*/ }
  .map .balao {
    position: absolute;
    opacity: 0; }
  .map .bounceInDown {
    opacity: 1; }
  .map .nova-rodovia-de-acesso {
    width: 227px;
    height: 64px;
    background: url("../img/location/balao-nova-rodovia.png") no-repeat center;
    top: 116px;
    left: 93px; }
  .map .shopping-serra-mar {
    width: 227px;
    height: 64px;
    background: url("../img/location/shopping.png") no-repeat center;
    top: 260px;
    left: 380px; }
  .map .centro-esportivo {
    width: 210px;
    height: 81px;
    background: url("../img/location/centro-esportivo.png") no-repeat center;
    top: 196px;
    left: 1144px; }
  .map .escola-municipal {
    width: 210px;
    height: 81px;
    background: url("../img/location/escola.png") no-repeat center;
    top: 350px;
    left: 1215px; }
  .map .spani {
    width: 227px;
    height: 64px;
    background: url("../img/location/spani.png") no-repeat center;
    top: 285px;
    left: 1490px; }
  .map .ciclovia {
    width: 210px;
    height: 81px;
    background: url("../img/location/ciclovia.png") no-repeat center;
    top: 842px;
    left: 1401px; }
  .map .logo-reserva {
    width: 168px;
    height: 183px;
    background: url("../img/location/reserva.png") no-repeat center;
    top: 570px;
    left: 848px;
    position: absolute; }
  .map .content-row {
    margin-top: 450px; }
    .map .content-row h2, .map .content-row p {
      color: #FFF; }
  .map .texto-vista {
    color: #FFF;
    text-align: center;
    margin-top: 900px;
    border: 1px dashed #FFF;
    border-top: 0; }

#personalize {
  height: 100%;
  padding: 50px 0;
  color: #215b9f;
  background: url("../img/personalize.png") center no-repeat; }
  #personalize .container, #personalize .row {
    height: 100%; }
  #personalize .row {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
  #personalize .content-row a {
    color: #215b9f;
    text-decoration: underline !important;
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 30px;
    display: block; }
  #personalize .content-row ul {
    list-style-position: inside;
    list-style-image: url("../img/list-style.png");
    margin-top: 50px; }
    #personalize .content-row ul li {
      margin-bottom: 20px; }

#contato {
  height: 100%;
  background: url("../img/row-contato.jpg") center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover; }
  #contato h2, #contato p {
    text-transform: uppercase;
    color: #FFF; }
  #contato .container {
    height: 100%; }
  #contato .row {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
  #contato .content-row h3 {
    margin-top: 0; }

aside#form {
  z-index: 499;
  position: fixed;
  top: 120px;
  /*max-width: 350px;*/
  display: none; }
  aside#form .form-box {
    background: #FFF;
    padding: 20px;
    display: block; }
    aside#form .form-box button {
      color: #FFF;
      border: 0;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s; }
      aside#form .form-box button:hover {
        opacity: 0.9; }
    aside#form .form-box .btn-tel {
      padding: 15px;
      background: #bd2e2a;
      -webkit-box-shadow: 0px 5px 0px 0px #8d2420;
      -moz-box-shadow: 0px 5px 0px 0px #8d2420;
      box-shadow: 0px 5px 0px 0px #8d2420; }
    aside#form .form-box .btn-form {
      padding: 10px 15px !important;
      float: right;
      margin-top: 20px;
      font-size: 24px;
      background: #00913d;
      text-transform: uppercase;
      font-weight: 700;
      -webkit-box-shadow: 0px 5px 0px 0px #00682b;
      -moz-box-shadow: 0px 5px 0px 0px #00682b;
      box-shadow: 0px 5px 0px 0px #00682b; }

footer#site {
  background: #215b9f;
  position: fixed;
  bottom: -1px;
  width: 100%;
  display: block;
  z-index: 500;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px; }
  footer#site p {
    margin-bottom: 0; }
  footer#site ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    footer#site ul:after {
      width: 100%;
      position: absolute;
      height: 100%;
      content: ""; }
    footer#site ul:after,
    footer#site ul .chat-online {
      background: #00913d; }
    footer#site ul li {
      border-left: 1px solid #0f3e74;
      padding: 10px 25px; }
      footer#site ul li a {
        display: inherit;
        color: #FFF !important; }
        footer#site ul li a:hover {
          text-decoration: none; }
        footer#site ul li a p {
          font-size: 12px; }
      footer#site ul li:first-child p {
        margin: 7px; }
  footer#site ul li p span,
  footer#site .chat-online span {
    line-height: 7px;
    display: block; }
  footer#site .ico-mail:before {
    width: 39px;
    height: 25px;
    background: url("../img/sprites.png") no-repeat 0 0px;
    display: table;
    float: left; }
  footer#site .ico-mail:after {
    content: "";
    clear: both;
    display: table; }
  footer#site .ico-tel:before {
    width: 22px;
    height: 25px;
    background: url("../img/sprites.png") no-repeat -40px 0;
    display: block;
    float: left; }
  footer#site .ico-tel:after {
    content: "";
    display: block;
    clear: both; }
  footer#site .ico-agenda:before {
    display: block;
    float: left;
    width: 24px;
    height: 25px;
    background: url("../img/sprites.png") no-repeat 0 -30px; }
  footer#site .ico-agenda:after {
    display: block;
    clear: both; }
  footer#site .ico-whatsapp:before {
    width: 27px;
    height: 27px;
    display: block;
    float: left;
    background: url("../img/sprites.png") no-repeat -65px 0; }
  footer#site .chat-online {
    height: 100%;
    font-weight: 700; }
  footer#site .chat-online a {
    color: #FFF !important; }
  footer#site .chat-online:before {
    content: "";
    display: block;
    width: 29px;
    height: 25px;
    margin-bottom: 4px;
    margin-top: 6px;
    margin-right: 10px;
    background: url("../img/sprites.png") no-repeat -28px -27px;
    float: left; }
  footer#site .ico-tel:before,
  footer#site .ico-mail:before,
  footer#site .ico-agenda:before,
  footer#site .ico-whatsapp:before {
    margin-top: 7px;
    margin-right: 10px;
    content: ""; }

.menu-mobile {
  display: none;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px; }
  .menu-mobile * {
    font-family: FontAwesome !important; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer#site ul li {
    padding: 10px; } }
@media only screen and (min-width: 770px) and (max-width: 991px) {
  header#site nav ul li {
    margin-left: 10px; }
    header#site nav ul li a {
      font-size: 13px; }

  #row2 {
    padding: 50px 0;
    height: auto; }

  #personalize {
    background: #FFF !important; }

  #localizacao .texto-vista {
    margin-top: 300px !important; }
  #localizacao .map {
    top: 0; }

  footer#site ul li a p {
    display: none; }
  footer#site ul li a:before {
    display: none; } }
@media only screen and (max-width: 769px) {
  .mask-white {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s; }

  .menu-mobile {
    display: block; }

  header#site h1.logo {
    text-align: center; }
  header#site nav ul {
    z-index: 1999;
    display: none;
    position: absolute;
    top: 49px;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9); }
    header#site nav ul li {
      display: block; }
      header#site nav ul li a {
        color: #215b9f;
        font-size: 16px;
        padding: 10px !important;
        display: block; }

  #localizacao {
    background: center;
    background-size: cover; }
    #localizacao .boxes {
      display: none; }
    #localizacao .texto-vista {
      margin-top: 100px !important; }
    #localizacao .map {
      width: 100%;
      height: auto;
      overflow-x: hidden;
      margin: 0 auto;
      left: 0;
      margin-left: 0;
      position: relative;
      background-size: cover; }
      #localizacao .map .content-row {
        margin-top: 220px; }
      #localizacao .map .texto-vista {
        margin: 100px 0; }

  #personalize {
    /*background: url('../img/personalize.png') center no-repeat;*/
    background: #FFF; }

  aside#form {
    display: block;
    position: relative !important;
    top: 0 !important;
    width: auto; }

  footer#site ul li {
    padding: 10px 15px; }
    footer#site ul li p {
      line-height: 15px; }
  footer#site ul li a p {
    display: none; }
  footer#site ul:after {
    display: none !important; } }
@media only screen and (max-width: 480px) {
  #row1 {
    height: auto;
    padding: 100px 0; }

  #row2 {
    width: auto;
    height: auto;
    display: block;
    padding: 50px 0; }
    #row2 .container {
      display: block; }

  #personalize {
    height: auto; }
    #personalize .content-row {
      margin-top: 0 !important; }

  #personalize {
    background-position: -100% 50%; }

  #contato {
    height: auto;
    padding-top: 30px;
    padding-bottom: 100px; }
    #contato .row {
      display: block;
      height: auto; }
    #contato aside#form {
      display: block !important; }

  footer#site {
    width: 100%; }
    footer#site .chat-online {
      display: none; } }

/*# sourceMappingURL=main.css.map */
